
@import 'bootstrap.min';
@import 'bootstrap-icons';
// @import 'fullpage.min';

:root {
    --bgMain: #B9F6FA;
    --primaryText: #E39B1B;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/FuturaPT-Light.eot');
    src: url('../font/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/FuturaPT-Light.woff2') format('woff2'),
        url('../font/FuturaPT-Light.woff') format('woff'),
        url('../font/FuturaPT-Light.ttf') format('truetype'),
        url('../font/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/FuturaPT-Medium.eot');
    src: url('../font/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/FuturaPT-Medium.woff2') format('woff2'),
        url('../font/FuturaPT-Medium.woff') format('woff'),
        url('../font/FuturaPT-Medium.ttf') format('truetype'),
        url('../font/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/FuturaPT-Bold.eot');
    src: url('../font/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/FuturaPT-Bold.woff2') format('woff2'),
        url('../font/FuturaPT-Bold.woff') format('woff'),
        url('../font/FuturaPT-Bold.ttf') format('truetype'),
        url('../font/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../font/FuturaPT-Book.eot');
    src: url('../font/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/FuturaPT-Book.woff2') format('woff2'),
        url('../font/FuturaPT-Book.woff') format('woff'),
        url('../font/FuturaPT-Book.ttf') format('truetype'),
        url('../font/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@keyframes btn-hover {
    0% { transform: translateX(-100%); }

    100% { transform: translateX(0); }
}
.container{ max-width: calc(100% - 60px); }
body { font-family: "Futura PT", sans-serif; color: #fff; background: var(--white); overflow-x: hidden; font-size: 24px; line-height: 1.35; }
a{text-decoration: none;}
h1{font-size: 120px; line-height: 1.15;}
p{font-family: 'Futura PT Book'; color: #fff; font-size: 24px;}
header{ position: absolute; z-index: 9; width: 100%; padding-top: 57px; }
.top-main{ overflow: hidden; background: rgb(0,0,0); background: linear-gradient(60deg, rgba(0,0,0,1) 0%, rgba(10,10,10,1) 100%); padding-top: 200px; padding-bottom: 80px; display: flex; align-items: center; justify-items: center; position: relative;
    &::after{ content: ''; background-image: url('../img/Group3.png'); height: 500px; width: 560px; background-size: contain; left: -160px; bottom: 50px; position: absolute; z-index: 0; background-repeat: no-repeat; }
    .container{position: relative; z-index: 2;}
    h1{ margin-bottom: 27px; }
    .btn-download{margin-top: 50px;
        a{overflow: hidden;     width: 232px; border-radius: 18px; position: relative;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            img{ border-radius: 18px; }
            img.hover-img{display: none;}
            &:hover{ 
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                transform: scale(1.05);
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                img.hover-img{display: block;}
                img:not(.hover-img){display: none;}
            }
            &:after {
                background: #fff;
                content: "";
                height: 100%;
                left: -75px;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 230px;
                -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                z-index: 9;
            }
            &:hover:after {
                left: 120%;
                opacity: 1;
                -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
            }
        + a{margin-left: 32px;}
        }
    }
    .right-side{justify-content: flex-end; position: relative;
        img.right-img{ max-height: 100vh; max-width: 34vw; }
        .icon-title{ position: absolute; left: -5%; top: 0vh;
            ul{ margin: 0; padding: 0; list-style: none;
                li{ margin-bottom: 30px;
                    &:nth-child(2){position: relative; left: -80px;}
                    .icon-details{ background-color: #846c6c34; border-radius: 18px; padding: 14px 18px; display: flex; align-items: center;
                        img{ margin-right: 16px; }
                    }
                }
            }
        }
        &::before{ content: ''; background-image: url('../img/bg-rigth1.png'); height: 100vh; width: 100%; background-size: cover; right: 0; bottom: 0px; top: -22vh; position: absolute; z-index: 0; background-position: right; background-repeat: no-repeat; }
    }
}

footer{ padding: 90px 0 0; background-color: #131a22;
    .row{ justify-content: center; }
    .footer-info{ padding-right: 50px;
        h5{ font-size: 24px; }
        p{ font-size: 18px; color: #8d8e92 }
    }
    .FooterCopyright{ border-top: 1px solid #8d8e92; padding: 35px 0; margin-top: 35px; text-align: center; font-size: 16px;
        ul{ list-style-type: none; display: inline-block; padding: 0; margin: 0;
            li{ display: inline;
                a{color: #DDD; padding: 0 0.6em;}
            }
        }
        span{ white-space: normal; }
    }
}
@import 'responsive';